body{
	background: #FFF;
}
#wrapper{
	position: relative;
}
ul{
  left: -123px;
  margin-bottom: 10px;
  position: absolute;
  top: -40px;
  width: 518px;
}
li{
  display: inline-block;
	*display:inline;
  margin-bottom: 5px;
	zoom: 1;
}
li a{
	background: url("../images/button-bg.png") repeat-x scroll 0 0 transparent;
	color: #FFFFFF;
	display: block;
	font-size: 14px;
	font-weight: 600;
	padding: 7px 9px 7px 10px;
	text-decoration: none;
}
li a:hover{
	text-decoration: underline;
}
#container{
	border: 1px solid #dcd7d7;
	padding: 10px;
}
.title h1{
	color: #000;
	font-size: 12px;
	margin-bottom: 9px;
}
.subtitle h2{
	color: #1a5b9b;
	font-size: 18px;
	margin-bottom: 12px;
}
.content{
	font-size: 12px;
	margin-bottom: 7px;
	position: relative;
}
.chart{
	height: 122px;
	margin: 0px auto;
	position: relative;
	width: 221px;
	margin: 0px auto;
}
.channel-one{
	border-right: 1px solid #bebebe;
}
.channel-one,
.channel-two{
	float: left;
	padding: 15px;
	width: 80px;
}
.label{
	color: #4b4343;
	display: block;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 8px;
}
.value{
	display: block;
	font-size: 30px;
	font-weight: 600;
}
.type{
	color: #1a5b9b;
	display: block;
	font-size: 20px;
}
.target{
	height: 49px;
	padding-top: 5px;
}
.target .title{
	display: block;
  font-weight: 600;
}
.target-channel{
	display: inline-block;
	*display:inline;
	margin: 7px 10px 5px;
	zoom: 1;
}
.target-channel-label{
	color: #1a5b9b;
	display: block;
}
.target-channel-value{
	display: block;
}
.link a{
	color: #000000;
	background-color: #cccccc;
	display: block;
	font-size: 13px;
	font-weight: 700;
	margin: 0 auto 5px;
	padding: 11px 5px;
	text-decoration: none;
	width: 220px;
}
.link a:hover{
	text-decoration: underline;
}
.see-more-data a{
	color: #1a5b9b;
	font-size: 12px;
}